<header>
  <div class="container">
    <div class="row">
      <!-- PARA EL LOGO -->
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <img src="assets/img-icon.png" alt="logo-imagen" class="img-logo">
        </div>
      </div>

      <div class="col-md-9 col-sm-9 col-9 text-end">


        <div class="desktop-menu">
          <!-- Lista -->
          <ul>
            <li>Home</li>
            <li>About Me</li>
            <li>Games</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>
