<header>
  <div class="container">
    <div class="row">
      <!-- INICIO PARA EL LOGO -->
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <img src="assets/img-icon.png" alt="logo-imagen" class="img-logo">
        </div>
      </div>
      <!-- FIN DEL LOGO -->

      <!-- COMIENZO DEL NAVBAR -->
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="navbar">
          <!-- Lista de la navbar-->
          <ul>
            <li><a routerLink="home" routerLinkActive="active-route">Home</a></li>
            <li><a routerLink="about-me" routerLinkActive="active-route">About Me</a></li>
            <!-- <li>Games</li> -->
          </ul>
        </div>
      </div>
      <!-- FIN DEL NAVBAR -->
    </div>
  </div>
</header>
