<main>
    <div class="about-me container">
        <div class="about-content">
            <!-- Comienza Seccion imagen -->
            <section class="image-section">
                <div class="image-container">
                    <img src="assets/pixelada.png" alt="img-pixelada" class="img-front">
                    <img src="assets/normal.png" alt="img-normal" class="img-back">
                </div> 
            </section>
            <!-- Termina Seccion Imagen -->

            <section class="info-section">
                <!-- Comienza Informacion Personal -->
                <section class="info-section personal" *ngIf="div === 'sobre-mi'">
                    <h1>¿Quien soy?</h1>
                    <h2>Estudiante en Programación</h2>
                    <p>Nombre: Rocio</p>
                    <p>Apellido: Bessio</p>
                    <p>Email: rocibessio&#64;gmail.com</p>
                    <p>División: A341</p>
                    <p>Materia: Laboratorio IV</p>
                    <p>¡Hola! Soy Rocio, estudiante de programación con un enfoque en desarrollo de software. Actualmente, estoy cursando la Tecnicatura Universitaria en Programación en la UTN-Fra, donde he adquirido conocimientos tales como desarrollo web, bases de datos, algoritmos y solución de problemas.
                        Me encantan las tecnologías e ir aprendiendo y perfeccionando mi conocimiento. Ademas suelo experimentar con proyectos personales que me desafíen a crecer como desarrolladora.
                    </p>
                    <!-- Termina Informacion Personal -->
                </section>
                <!-- Termina Informacion Personal -->

                <!-- Comienza la Explicacion del Juego -->
                <section class="info-section juego" *ngIf="div === 'sobre-juego'">
                    <h1>Información De Mi Juego</h1>
                    <h2>Sudoku/¿Quien es Quien?/Simon dice</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam blanditiis reprehenderit accusamus, adipisci nisi perferendis quibusdam mollitia numquam sint atque aut voluptates similique odio beatae harum dolore quaerat rerum tempore.
                    Voluptates ipsa molestiae maiores doloremque? Facere aspernatur distinctio accusamus ad quas enim! Quos porro modi obcaecati ea incidunt veritatis assumenda, nihil, quisquam repellat similique at minus consequuntur, ipsum quod impedit?
                    Corporis neque alias voluptatibus asperiores blanditiis fugiat voluptatem tempore eveniet deserunt dolores voluptates nam deleniti nihil dicta maiores veniam quam quae natus hic, error expedita, vel minima, sed quasi. Aperiam.
                    Quam, exercitationem rerum facilis id quibusdam eum qui culpa debitis quaerat, fugit magnam, quod inventore commodi sequi voluptate cumque ad incidunt eligendi. Expedita suscipit quis nostrum ad hic neque eligendi.
                    Ipsa soluta excepturi veritatis doloribus odio, praesentium quas eveniet animi rem vero. Eaque quod suscipit quibusdam vel possimus. Cupiditate quibusdam quidem perspiciatis, a quasi inventore laborum qui similique maiores tenetur.</p>
                </section>
                <!-- Termina la Explicacion del Juego -->
                
                <!-- Comienza Seccion Botones -->
                <section class="btn-section">
                    <div class="about-btns">
                        <button type="button" class="btn" (click)="mostrarDiv('sobre-mi')">Datos Personales</button>
                        <button type="button" class="btn" (click)="mostrarDiv('sobre-juego')">Sobre Mi Juego</button>
                    </div>
                </section>
                <!-- Termina Seccion Botones -->
            </section>
        </div>
    </div><br><br><br>
</main>
