.about-me {
    width: 100%;
    padding: 50px 8%;
}

/* Comienza seccion imagen */
.about-content .image-section {
    position: relative;
    min-width: 300px;
    height: 380px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about-content .image-section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #787cb5;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.image-section {
    position: relative;
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Ajusta la altura según sea necesario */
}

.image-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out; /* Agrega una transición suave */
}

.img-back {
    opacity: 0; /* Inicialmente oculta la imagen de fondo */
}

.image-section:hover .img-back {
    opacity: 1; /* Muestra la imagen de fondo al hacer hover sobre la sección */
}
/* Termina seccion imagen */

/* Comienza seccion informacion */
.info-section h1 {
    color: azure;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.info-section h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
}

.info-section.personal h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: thistle;
}

.info-section.personal h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.info-section p {
    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.info-section.juego h1 {
    color: antiquewhite;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.info-section.juego h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
}

.info-section.juego h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: thistle;
}

.info-section.juego h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.info-section.juego p {
    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}
/* Termina la seccion de informacion */

/* Comienza la informacion de botones */
.about-btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.btn-section {
    margin-top: 20px; /* Ajustar el margen superior para separar los botones de la información */
}


.about-btns button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #787cb5;
    border-radius: 25px;
    font-size: 18px;
    color: #aaabb0;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-right: 10px;
}

.about-btns button:last-child {
    margin-right: 0;
}

.image-section button:hover {
    color: #787cb5;
    border-color: #aaabb0;
}
/* Termina la seccion de botones */

/* Comienza el control de GRID */
.about-me .about-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: 
    'imageSec infoSec'
    'btnsSec btnsSec';
    grid-gap: 70px;
    min-height: 100vh;
}

.about-me .about-content .image-section {
    grid-area: imageSec;
}

.about-me .about-content .info-section {
    grid-area: infoSec;
}

.about-me .about-content .about-btns {
    grid-area: btnsSec;
}
/* Termina el control de GRID */

/* Comienza lo responsive */
@media(max-width:1068px) {
    .about-me .about-content {
        grid-template-columns: 2fr 5fr;
        grid-template-areas: 
        'imageSec btnsSec'
        'infoSec infoSec';
    }

    .about-btns {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media(max-width:500px) {
    .about-me .about-content {
        grid-template-columns: 2fr 5fr;
        grid-template-areas: 
        'imageSec imageSec'
        'btnsSec btnsSec'
        'infoSec infoSec';
    }

    .about-btns {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

@media(max-width:320px) {
    .about-me .about-content {
        grid-template-columns: 2fr 5fr;
        grid-template-areas: 
        'imageSec imageSec'
        'btnsSec btnsSec'
        'infoSec infoSec';
    }

    .info-section {
        grid-template-columns: 1fr;
    }
}
/* Termina lo responsive */ 