<footer> 
    <!-- INICIO DE ETIQUETAS PARA LA ANIMACION DE OLAS -->
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <!-- FINAL DE ETIQUETAS PARA LA ANIMACION DE OLAS -->
    
    <!-- INICIO DE ICONOS DE REDES -->
    <ul class="social-icons">
        <li><a href="https://www.linkedin.com/in/rocio-soledad-bessio-294495265/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://github.com/rociobessio" target="_blank"><i class="fa-brands fa-github-alt"></i></a></li>
    </ul>
    <!-- FIN DE ICONOS DE REDES -->
    <p>&#64;Rocio Bessio - LABORATORIO IV - 2024</p>
</footer>
