<main>
    <div class="container">
        <!-- INICIO DEL CONTENEDOR DEL HANG-MAN -->
        <div class="container-hangman">
            <!-- INICIO DEL HEADER DEL DEL HANG-MAN -->
            <div class="hang-man-header">
                <h1>HANG-MAN</h1>
                <hr>
            </div>
            <!-- FIN DEL HEADER DEL DEL HANG-MAN -->

            <!-- INICIO DEL CONTADOR DE INTENTOS -->
            <div class="row">
                <!-- INICIO DE DONDE ESTARA LA IMAGEN DEL AHORCADO -->
                <div class="col text-center">
                    <img src="assets/hang-man/hang-man-{{intentos}}.png" 
                    alt="img-hangman"
                    class="img-hangman">
                    <h3>INTENTOS: <small>{{intentos}} / 6</small></h3>
                </div>
                <!-- FIN DE DONDE ESTARA LA IMAGEN DEL AHORCADO -->
            </div>
            <!-- FIN DEL CONTADOR DE INTENTOS -->

            <!-- INICIO DE LA PALABRA A BUSCAR -->
            <div class="row">
                <div class="col text-center">
                    <h2>palabra a buscar</h2>
                </div>
            </div>
            <!-- FIN DE LA PALABRA A BUSCAR -->

            <!-- INICIO DEL TECLADO -->

            <!-- FIN DEL TECLADO -->


        </div>
        <!-- FIN DEL CONTENEDOR DEL HANG-MAN -->
    </div>
</main>
