main {
    font-family: monospace;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
  
::-webkit-scrollbar-thumb{
  background: linear-gradient(#7044be,#b4acf5);
  border-radius: 10px;
}
/* INICIO DE LOS CONTENEDORES GENERALES DEL COMPONENTE CHAT */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4b357a,#7044be,#4b357a);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e9e7ed;
  margin-top: 10px;
}

.container-chat{
  width: 90%;
  max-width: 800px; 
  margin-bottom: 20px;
  position: relative;
  background: linear-gradient(#1c0829,#7044be,#1c0829);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #e9e7ed;
  overflow: auto;
}

.container-chat hr{
  box-shadow: 0 0 10px #e9e7ed;
}

.content-message{
  overflow: scroll;
  padding: 0.3rem;
}
.content-message::-webkit-scrollbar{
  display: none;
}
/* FIN DE LOS CONTENEDORES GENERALES DEL COMPONENTE CHAT */

/* INCIO DE LA IMAGEN DEL BOTON SEND */
.container-chat img{
  width: 55px;
  background: #b4acf5;
  border-radius: 0px 0px 10px;
}

.img-send:active{
  transform: scale(0.9);
}
/* FIN DE LA IMAGEN DEL BOTON SEND */

/* INICIO DE ESTADOS DE LOS MENSAJES */
.send{
  display: block;
  float: right;
  background-color: #9082fa;
  min-width: 50.01%;
  border-radius: 10px 10px 0px;
  text-align: left;
}

.received{
  display: block;
  float: left;
  background-color: #b4acf5;
  min-width: 50.01%;
  border-radius: 0px 10px 10px;
  text-align: left;
}
/* FIN DE ESTADOS DE LOS MENSAJES */

/* INICIO DE LA MODIFICACION DE VISUALIZACION DE MESAJES */

.content-message p{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  word-wrap: break-word;

}

.content-message p>span{
  display: block;
  float: right;
  font-size: x-small;
  margin-top: 0.3rem;
  margin-right: 0.6rem;
  text-align: right;
}
/* FIN DE LA MODIFICACION DE VISUALIZACION DE MESAJES */

/* INICIO DEL HEADER DEL CHAT */
.chat-header h2{
  text-align: center; 
  display: block;
  font-size: calc(1.5rem + 2vw);
  margin-bottom: 10px;
  font-family: 'Karmatic Arcade';
  color: #b4acf5;
  margin: 20px auto; 
  /* Para la animacion y que ademas esta sea todo el tiempo*/ 
  animation: bounce 2s ease-in-out infinite; 
}

@keyframes bounce {
  0% { transform: translateY(0); }
  20% { transform: translateY(-20px); }
  40% { transform: translateY(0); }
  60% { transform: translateY(-20px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
} 
/* FIN DEL HEADER DEL CHAT */