<main>
    <!-- INICIO DEL CONTENEDOR DEL CHAT -->
    <!-- SI el usuario esta logueado -->
    <div class="container" *ngIf="userLoggued">
        <div class="container-chat">
            <!-- INICIO DEL HEADER DEL CHAT -->
            <div class="chat-header">
                <h2>CHAT</h2>
            </div>
            <hr>
            <!-- FIN DEL HEADER DEL CHAT -->

            <!-- INICIO DEL CUERPO DE MENSAJES -->
            <div class="container-messages">
                <div class="content-message h-100">
                    <!-- Por cada mensaje necesitare un parrafo -->
                    <p *ngFor="let mensaje of mensajes" class="msg p-2"
                    [ngClass]="(userLoggued.email == mensaje.emisor) ? 'send' : 'received'">
                        {{mensaje.texto}}
                    </p>
                </div>
            </div>
            <!-- FIN DEL CUERPO DE MENSAJES -->

            <!-- INICIO DEL DIV DEL INPUT DEL MENSAJE -->
            <form class="card-footer text-muted input-group" (ngSubmit)="sendMessage()">
                <input type="text" class="form-control" placeholder="Enviar mensaje..." [(ngModel)]="newMessage.texto"
                [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" (click)="sendMessage()">
                  <img class="img-send" src="../../../assets/send-mail.png" alt="send-img">
                </div>
            </form>
            <!-- FIN DEL DIV DEL INPUT DEL MENSAJE -->
        </div>
    </div>
    <!-- FIN DEL CONTENEDOR DEL CHAT -->
</main>
