body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Horizontally center elements */
    align-items: center; /* This centers vertically */
  }

.welcome {
    background: linear-gradient(#4b357a,#7044be,#4b357a);
    /* background-color: transparent; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e9e7ed;  
}

/* INICIO DE LA MODIFICACION DE H1 & H2 */
.welcome h1,h2 {
    text-align: center; 
    display: block;
    font-size: 70px;
    margin-bottom: 10px;
    font-family: 'Karmatic Arcade';
    color: #b4acf5;
    margin: 20px auto; 

    /* Para la animacion y que ademas esta sea todo el tiempo*/ 
    animation: bounce 2s ease-in-out infinite; 

}

@keyframes bounce {
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    40% { transform: translateY(0); }
    60% { transform: translateY(-20px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
} 
/* FIN DE LA MODIFICACION DE H1 & H2 */

p {
    font-size: 20px;
}

/* INICIO DE BOTONES PARA SELECCIONAR JUEGO */
.botones {
    display: flex;
    align-items: center;
    margin-top: 20px;
    bottom: 20px;
}

.btn-botones {
    margin-top: 20px; /* Ajustar el margen superior para separar los botones de la información */
} 

.botones button{ 
    position: relative;
    width: 200px;
    height: 45px;
    background: linear-gradient(#4b357a,#7044be,#4b357a);
    border: 2px solid #b4acf5;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #333;
    box-shadow: 0 0 10px #e9e7ed;  
    border: none;
    outline: none;

    /* Separo los botones y tambien de arriba */
    margin-right: 30px;
    margin-top: 30px;
}
.botones button:last-child {
    margin-right: 0;
}
.botones::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#4b357a,#7044be,#4b357a);
    z-index: -1;
    transition: .5s;
}

.botones:hover::before{
    top: 0;
}
/* FIN DE BOTONES PARA SELECCIONAR JUEGO */