<main>
    <div class="container">
        <div class="image-container" *ngIf="userEmail">
            <!-- INICIO DONDE MOSTRARE UN DIV O EL OTRO -->
            <div class="mostrar">
                
                <!-- INICIO DE LA INFO DEL USUARIO-->
                <div class="info-usuario" [class.active]="!mostrarWelcome">
                    <img src="../../../assets/pixel-bird.gif" alt="img-usuario" class="img-usuario">
                    <h1>PLAYER</h1>
                    <!-- <p>{{usuario}}</p> -->
                    <p>{{userEmail}}</p>
                </div>
                <!-- FIN DE LA INFO DEL USUARIO-->

                <!-- INICIO DEL H1 & H2 -->
                <div class="welcome" [class.active]="mostrarWelcome">
                    <h1>¡Bienvenidos!</h1>
                    <h2>TP SALA DE JUEGOS</h2>
                </div>
                <!-- FIN DEL H1 & H2 -->
            </div>
            <!-- FIN DONDE MOSTRARE UN DIV O EL OTRO -->

            <!-- INICIO DE LOS BOTONES DE FLECHA PARA CAMBIAR LA PANTALLA-->
            <div class="arrow-buttons">
                <button class="arrow-button arrow-left" (click)="toggleWelcomeAndUserInfo()">&lt;</button>
                <button class="arrow-button arrow-right" (click)="toggleWelcomeAndUserInfo()">&gt;</button>  
            </div>
            <!-- FIN DE LOS BOTONES DE FLECHA PARA CAMBIAR LA PANTALLA-->

            <!-- INICIO DE LOS BOTONES DE LOS JUEGOS-->
            <p>Seleccione uno de los juegos:</p>
            <div class="botones">
                <!-- Solucionar porq no debe estar bien el ../ -->
                <button class="pixel-art-button" 
                routerLink="../hang-man" routerLinkActive="active-route">
                    Hang-Man
                </button>
                <button type="submit" class="pixel-art-button"
                routerLink="../trivia" routerLinkActive="active-route">
                    Trivia
                </button>
                <button type="submit" class="pixel-art-button" 
                routerLink="../higherOrLower" routerLinkActive="active-route">
                    Higher Or Lower
                </button>
                <button type="submit" class="pixel-art-button"
                routerLink="../SimonDice" routerLinkActive="active-route">
                    Simon Dice
                </button>
            </div>
            <!-- FIN DE LOS BOTONES DE LOS JUEGOS-->
        </div>
    </div>
</main>
