<!-- <p>home works!</p> -->
<!-- Etiqueta main de contenido -->
<main>
    <div class="container">
        <!-- INICIO DEL H1 & H2 -->
        <div class="welcome">
            <h1>¡Bienvenidos!</h1>
            <h2>TP SALA DE JUEGOS</h2>
            <!-- <p>A su sitio web de arcade</p> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolor fugit doloribus? Ut sunt sapiente temporibus provident. Accusantium animi sapiente, amet aperiam est dignissimos facere maiores provident alias expedita laboriosam!
            Esse et iusto omnis magni. Eos repudiandae, explicabo nulla magni, maxime numquam voluptatibus repellendus consectetur eius voluptas, fugiat labore. Distinctio esse sint magnam cum, illo dolores officia soluta. Minus, ullam.
            Delectus inventore accusantium blanditiis explicabo mollitia maiores at, asperiores sapiente soluta, aliquam, alias dolores necessitatibus autem quidem deleniti eos ipsum voluptate! Veritatis placeat facilis molestias pariatur itaque tempore ipsa voluptate!
            Iusto reiciendis quos aut facere laudantium distinctio porro magni iste. Ipsum eum dolorum porro consequatur ratione voluptatum ad expedita. Quod suscipit expedita vel, nisi nesciunt quas officiis quidem accusamus commodi.
            Consequuntur omnis sequi explicabo, quia veritatis repellendus aliquam quae quo rem doloribus ipsum beatae voluptatem harum! Adipisci numquam id quae quos enim velit, eum eos ipsa aliquam ut magni voluptates.</p>
        </div>
        <!-- INICIO DEL H1 & H2 -->

        <!-- INICIO DE LOS BOTONES -->
        <div class="botones">
            
        </div>
        <!-- FIN DE LOS BOTONES -->
    </div>
</main>
