body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* This centers horizontally */
    align-items: center; /* This centers vertically */
  }

.welcome {
    background: linear-gradient(#4b357a,#7044be,#4b357a);
    /* background-color: transparent; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e9e7ed;  
}

/* INICIO DE LA MODIFICACION DE H1 & H2 */
.welcome h1,h2 {
    text-align: center; 
    display: block;
    font-size: 70px;
    margin-bottom: 10px;
    font-family: 'Karmatic Arcade';
    color: #b4acf5;
    margin: 20px auto; 

    /* Para la animacion y que ademas esta sea todo el tiempo*/ 
    animation: bounce 2s ease-in-out infinite; 

}

@keyframes bounce {
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    40% { transform: translateY(0); }
    60% { transform: translateY(-20px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
} 
/* FIN DE LA MODIFICACION DE H1 & H2 */

p {
    font-size: 20px;
}
