<!-- <p>login works!</p> -->
<main>
    <!-- COMIENZO DEL REGISTER --> 
    <div class="wrapper-login">
        
        <!-- INICIO DE LA FORMA CURVADA -->
        <div class="curved-shape"></div> 
        <!-- FIN DE LA FORMA CURVADA -->

        <!-- INICIO DEL REGISTER -->
        <div class="form-box register">
            <h2 style="--i:17; --j:0;">Sign-Up</h2>
            <form action="#">
                
                <!-- INICIO PARA EL E-MAIL -->
                <div class="input-box">
                    <input type="email" required autocomplete="off"
                    [(ngModel)]="user.email" name="inputEmail">
                    <label for="email">E-mail:</label> 
                </div> 
                <!-- FIN PARA EL E-MAIL -->

                <!-- INICIO PARA LA PASSWOED -->
                <div class="input-box">
                    <input type="password" required autocomplete="off"
                    [(ngModel)]="user.clave" name="inputPass">
                    <label for="password">Password:</label>
                </div>
                <!-- FIN PARA LA PASSWOED -->

                <!-- INICIO DE CONFIRMACION DE PASSWORD -->
                <div class="input-box">
                    <input type="password" required autocomplete="off"
                    [(ngModel)]="confirmPass" name="inputPassConfirm">
                    <label for="password">Confirm Password:</label>
                </div>
                <!-- FIN DE CONFIRMACION DE PASSWORD -->

                <!-- INICIO PARA EL BOTON SIGN-UP -->
                <div class="input-box"
                style="--i:21; --j:4;">
                    <button type="submit" class="btn"
                    (click)="register()">Sign-Up</button>
                </div>
                <!-- FIN PARA EL BOTON SIGN-UP --> 
                
                <!-- INICIO DEL LINK LOGIN -->
                <div class="registrate-link" style="--i:22; --j:5;">
                    <p>Ya estas registrado? 
                        <a href="login" class="login-link">Log-In</a>
                    </p>
                </div>
                <!-- FIN DEL LINK LOGIN -->
            </form>
        </div>
        <!-- FIN DEL REGISTER -->

        <!-- COMIENZO DEL DIV DE INTOMACION -->
        <div class="div-informacion register">
            <!-- Puede ser algo medio pixel art -->
            <h2 style="--i:0; --j:20;">Hola!</h2>
            <p class="paragraph">Todavia no tenes una cuenta?</p>
            <p class="paragraph">Que esperas, registrate y juga!</p>
        </div>
        <!-- FIN DEL DIV DE INFORMACION -->
    </div>
    <br><br><br>
</main>
