<!-- <p>login works!</p> -->
<main>
    <!-- COMIENZO DEL LOGIN --> 
    <div class="wrapper-login">
        
        <!-- INICIO DE LA FORMA CURVADA -->
        <div class="curved-shape"></div> 
        <!-- FIN DE LA FORMA CURVADA -->

        <!-- INICIO DEL REGISTER -->
        <div class="form-box register">
            <h2 style="--i:17; --j:0;">Sign-Up</h2>
            <form action="#">
                <!-- Para el username -->
                <div class="input-box"
                style="--i:18; --j:1;">
                    <input type="text" required>
                    <label for="usuario">Username:</label>
                    <!-- iconito -->
                </div>
                <!--  Para el email -->
                <div class="input-box"
                style="--i:19; --j:2;">
                    <input type="email" required>
                    <label for="email">Email:</label>
                    <!-- iconito -->
                </div>
                <!-- Para la passwoerd -->
                <div class="input-box"
                style="--i:20; --j:3;">
                    <input type="password" required>
                    <label for="password">Password:</label>
                    <!-- iconito -->
                </div>
                <div class="input-box"
                style="--i:21; --j:4;">
                    <button type="submit" class="btn">Sign-Up</button>
                </div>
                <!-- FIN DEL LOGIN --> 
                
                <!-- INICIO DEL LINK LOGIN -->
                <div class="registrate-link"
                style="--i:22; --j:5;">
                    <p>Ya estas registrado? <a href="/login" class="login-link"
                    >Log-In</a></p>
                </div>
                <!-- FIN DEL LINK LOGIN -->
            </form>
        </div>
        <!-- FIN DEL REGISTER -->

        <!-- COMIENZO DEL DIV DE INTOMACION -->
        <div class="div-informacion register">
            <!-- Puede ser algo medio pixel art -->
            <h2 style="--i:0; --j:20;">Hola!</h2>
            <p style="--i:1; --j:21;">Todavia no tenes una cuenta?<br>Que esperas, registrate y juga! </p>
        </div>
        <!-- FIN DEL DIV DE INFORMACION -->
    </div>
    <br><br><br>
</main>
