.login {
    width: 100%;
    height: 100vh; /*que ocupe la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center; 
    /* Cambiarle la font */
    font-family: 'Jost', sans-serif;
}

/* INICIO DEL DIV QUE CONTIENE TODO */
.principal {
    width: 350px;
    height: 500px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    /* Podria poner imagen como background */
    background-image: url('../../../assets/arcade-planets.jpg');

    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    /* Centro el login */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FIN DEL DIV QUE CONTIENE TODO */

/* INICIO DEL CHECK-BOX */
#chk{
    /* lo oculto */
    display: none;
}
/* FIN DEL CHECK-BOX */

/* INICIO DEL ESTILO DEL SIGN-UP */
.sign-up{
    position: relative;
    width: 100%;
    height: 100%;
}

/* FIN DEL ESTILO DEL SIGN-UP */

/* INICOI DE ESTILOS PARA LOG-IN */
.div-login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px) ;
    transition: .8s ease-in-out;
}

.div-login label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .div-login {
    transform: translateY(-500px);
}

#chk:checked ~ .div-login {
    transform: scale(1);
}

#chk:checked ~ .sign-up label {
    transform: scale(.6);
}
/* FIN DE ESTILOS PARA EL LOG-IN */


/* INICIO DE CONTROLES GENERALES */
/* para el label */
label{
    /* podria cambiarle la font a una arcade */
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    /* Para la transicion */
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 40px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* INCIO PARA EL BOTON */
button{
    width: 60%;
    height: 60px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover{
    background: #6d44b8;
}
/* FIN DE LOS BOTONES */
/* FIN DE CONTROLES GENERALES */