<!-- <p>login works!</p> -->
<main>
    <!-- COMIENZO DEL LOGIN -->
    <div class="login container">
        <div class="principal">
            <!-- COMIENZO DEL SIGN-UP -->
            <!-- Para ocultarlo -->
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="sign-up">
                <label for="checkbox" aria-hidden="true">Sign-Up</label>
                <input type="text" name="txtUsername" placeholder="Username" required>
                <input type="email" name="txtEmail" placeholder="Email" required>
                <input type="password" name="txtPassword" placeholder="Password" required>
                <button>Sign-Up</button>
            </div>
            <!-- FIN DEL SIGN UP -->

            <!-- COMIENZO DEL LOGIN -->
            <div class="div-login">
                <form>
                    <label for="chk" aria-hidden="true">Log-In</label>
                    <input type="email" name="txtEmail" placeholder="Email" required>
                    <input type="password" name="txtPassword" placeholder="Password" required>
                </form>
            </div>
            <!-- FIN DEL LOGIN -->    
        </div>
    </div>
    <!-- FIN DEL LOGIN -->
    <br><br><br>
</main>
