<main>
    <div class="container">
        <!-- INICIO DEL CONTENEDOR DE PAGE NOT FOUND -->
        <div class="container-page-not-found">
            <h1>GAME OVER!</h1>
            <h2>Ocurrio un error dentro de la pagina vuelva a intentarlo!</h2>
            <hr>

            <div class="row">
                <div class="col-4">
                    <img src="../../../assets/page-not-found-2.gif" alt="img-character">
                </div>
                <div class="col-4">
                    <img src="../../../assets/page-not-found-1.gif" alt="img-espiral">
                </div>
            </div>
        </div>
        <!-- FIN DEL CONTENEDOR DE PAGE NOT FOUND -->
    </div>
</main>
