/* Importo bootstrap */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';
/* @import '/src/assets/fonts/ka1.ttf'; */


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karmatic Arcade';
    src: url('./assets/fonts/ka1.ttf') format('truetype');
}

/* Modifico el body */
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Cambio el cursor */
    cursor:  url('./assets/cursors/Normal-Amethyst.cur'), auto;
}

/* INICIO DE MODIFICACION DEL SCROLLBAR */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
  
::-webkit-scrollbar-thumb{
  background: linear-gradient(#7044be,#b4acf5);
  border-radius: 10px;
}
/* FIN DE MODIFICACION DEL SCROLLBAR */