<main>
    <!-- COMIENZO DEL LOGIN --> 
    <div class="wrapper-login">
        
        <!-- INICIO DE LA FORMA CURVADA -->
        <div class="curved-shape"></div> 
        <!-- FIN DE LA FORMA CURVADA -->

        <div class="form-box login">
            <h2 style="--i:0;">Log-In</h2>
            <form>
                <!-- Para el mail -->
                <div class="input-box"
                style="--i:1;">
                    <input type="email" required autocomplete="off"
                    [(ngModel)]="user.email" name="inputEmail">
                    <label for="email">E-Mail:</label>
                    <!-- iconito -->
                </div>
                <!-- Para la passwoerd -->
                <div class="input-box" 
                style="--i:2;">
                    <input type="password" required autocomplete="off"
                    [(ngModel)]="user.clave" name="inputPassword">
                    <label for="password">Password:</label>
                    <!-- iconito -->
                </div>
                <div class="input-box"
                style="--i:3;">
                    <button type="submit" class="btn" (click)="login()">
                        Log-In
                    </button>
                    <button type="submit" class="btn" (click)="fastLogin()">
                        Fast Login
                    </button>
                </div>
                <!-- FIN DEL LOGIN --> 
                <br>
                <!-- INICIO DEL LINK REGISTRARSE -->
                <div class="registrate-link"
                style="--i:4;">
                    <p>No tenes una cuenta? Registrate <a href="/register" class="sign-up">Sign-Up</a>
                    </p>
                </div>
                <!-- FIN DEL LINK REGISTRARSE -->
            </form>
        </div>
        <!-- FIN DEL LOGIN -->

        <!-- COMIENZO DEL DIV DE INTOMACION -->
        <div class="div-informacion login">
            <!-- Puede ser algo medio pixel art -->
            <h2 style="--i:0; --j:20;">Hola!</h2>
            <p style="--i:1; --j:21;">Ya tenes una cuenta?<br>Que esperas, entra y juga! </p>
        </div>
        <!-- FIN DEL DIV DE INFORMACION -->
    </div>
    <br><br><br>
</main>
